@use 'reset';
@use 'scrollbar';

html {
	background-color: #fff;
	font-family: 'Poppins', sans-serif;
}

body {
	width: 100%;
}

:root {
	--deep-purple: rgb(56, 13, 115);
	--medium-purple: rgb(87, 16, 185);
	--light-purple: rgb(128, 48, 240);
	--test: rgb(37, 13, 71);
}
